.idea/
atlassian-ide-plugin.xml
*.pyc
log/
media/

src/kinder/wsfactory_config.xml
src/kinder/*.pem
src/kinder/queue.json

# IDE files
.idea/*
.ropeproject/*
.codeintel/*
.project
.pydevproject
.settings
.coverage
